.todo-div {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  /* justify-content: space-around; */
}

.todo-div div {
  margin: 0 1vw;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputtodo-div form {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
}

.inputtodo-div input {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
}
.inputtodo-div button {
  margin: 0 1vw;
  font-size: 20px;
  font-family: "Poppins";
  width: 45px;
  background-color: transparent;
  border-radius: 15%;
  border: 1px solid blueviolet;
  cursor: pointer;
}
.inputtodo-div button:hover {
  background-color: blueviolet;
  color: white;
}
.w-6 {
  width: 1vw;
}
.todolist {
  margin-top: 2vw !important;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}
.datatodo {
  background-color: transparent;
  width: 50%;
  padding: 10px;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 30px;
  border: 1px blueviolet dashed;
}
.datatodo:hover {
  background-color: blueviolet;
  color: white;

  cursor: pointer;
}
.tododiv {
  width: 100%;
  align-items: center;
  align-content: center;
}
.delete {
  background-color: transparent;
  width: 20%;
  margin-left: 1vw;
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 30px;
  border: 1px red dashed;
  color: red;
}
.add {
  background-color: transparent;
  width: 20%;
  margin-left: 1vw;
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 30px;
  border: 1px green dashed;
  color: green;
}
.delete:hover {
  background-color: red;
  color: white;
}
.add:hover {
  background-color: green;
  color: white;
}
.delete-todo {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.deletedtask {
  background-color: transparent;
  width: 50%;
  padding: 10px;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 30px;
  border: 1px red dashed;
  cursor: not-allowed;
  background-color: rgb(248, 121, 121);
  text-decoration: line-through !important;
}

.deletedtask:hover {
  background-color: rgb(248, 121, 121);
  /* color: white; */
}
.chardiv {
  height: 300px !important;
  width: 30vw !important;
}
.main {
  margin-bottom: 3vw;
}
